<!DOCTYPE html>
<head>
    <title>About</title>
</head>
<body>
<p>
    LPM
</p>
<p>
    <table>
        <tr>
            <td>Developers:&nbsp;&nbsp;</td>
            <td>Mert Onder</td>
            <td>Yigit Cayli</td>
            <td>Mertali Maden</td>
            <td>Ahmet Oğan</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>mert.onder@sakarya.edu.tr</td>
        </tr>
        <tr>
            <td>Date:</td>
            <td>March 2026</td>
        </tr>
        <tr>
            <td>Address:</td>
            <td>Software Engineering Department, Sakarya University</td>
        </tr>
    </table>
</p>
</body>
        </html>