<div class="modal fade" id="addReservationModal" tabindex="-1" aria-labelledby="addReservationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="addReservationModalLabel">Make a Reservation</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/reservation/add}" method="post">

                    <!-- Student Selection -->
                    <div class="mb-3">
                        <label class="form-label">Student</label>
                        <select name="studentId" class="form-select" required>
                            <option value="">Select Student...</option>
                            <!-- Return student list that came from controller -->
                            <option th:each="s : ${student}" th:value="${s.id}" th:text="${s.name}"></option>
                        </select>
                    </div>

                    <!-- Place Selection -->
                    <div class="mb-3">
                        <label class="form-label">Place</label>
                        <select name="placeId" class="form-select" required>
                            <option value="">Select Place...</option>
                            <!-- Return Place list that came from controller -->
                            <option th:each="p : ${place}" th:value="${p.id}" th:text="${p.building + ' - ' + p.room}"></option>
                        </select>
                    </div>

                    <!-- Date Selection -->
                    <div class="mb-3">
                        <label class="form-label">Date</label>
                        <input type="datetime-local" name="date" class="form-control" required>
                    </div>

                    <!-- End-Time (Duration) Seletion -->
                    <div class="mb-3">
                        <label class="form-label">End-Time</label>
                        <input type="datetime-local" name="duration" class="form-control" required>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>